@import "tailwindcss";

:root {
  --c1: #1E3A8A;
  --c2: #3B82F6;
  --c3: #FBBF24;
  --c4: #F3F4F6;
  --c5: #047857;
  --c6: #6EE7B7;
  --c7: #F87171;
  --c8: #FAFAFA;
  --c9: #111827;
  --c10: #14B8A6;
  --c11: #EC4899;
  --c12: #4B5563;
}